[submodule "order-kafka"]
	path = order-kafka
	url = https://github.com/ayman-erroutabi/order-kafka

[submodule "inventory-kafka"]
	path = inventory-kafka
	url = https://github.com/ayman-erroutabi/inventory-kafka
